## 각 행에서 최대값을 가진 컬럼명 산출하는 방법
#### 세가지 방법
* idxmax() 
* for문, isin()
* apply(), lambda(), isin()

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [7]:
df=pd.DataFrame([[1,2,2,0],[3,5,6,8],[2,5,7,5],[1,1,1,0],[1,6,4,6]],columns=["a","b","c","d"])
df

   a  b  c  d
0  1  2  2  0
1  3  5  6  8
2  2  5  7  5
3  1  1  1  0
4  1  6  4  6

### 1) idxmax()함수사용
* max값이 복수의 컬럼에서 동일할경우, 하나의 컬럼명반 반환되는 문제

In [10]:
df.idxmax(axis=1)

0    b
1    d
2    c
3    a
4    b
dtype: object

### 2)  for문, isin() 사용
* 시간이 오래 소요되고 간결하지 않음

In [33]:
df.iloc[4]

a    1
b    6
c    4
d    6
Name: 4, dtype: int64

In [32]:
df.iloc[4].isin([df.iloc[4].max()])

a    False
b     True
c    False
d     True
Name: 4, dtype: bool

In [29]:
val=[]
for i in range(len(df)-1):
    max_val=df.iloc[i].max()
    col=df.columns[df.iloc[i].isin([df.iloc[i].max()])].values.tolist()
    val.append(col)
print(val)

[['b', 'c'], ['d'], ['c'], ['a', 'b', 'c']]

### 3) apply(),lambda(),isin() 활용

In [8]:
df.apply(lambda x: df.columns[x.isin([x.max()])].values,axis=1)

0       [b, c]
1          [d]
2          [c]
3    [a, b, c]
4       [b, d]
dtype: object